@import "../../variables.css";

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-poppins);
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
    font-family: var(--font-poppins);
    font-weight: 600;
}

.menuItems a{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

.menuBtn{
    display: none;
    height: 32px;
}

.menuItems a:hover{
    transform: scale(1.1);
    color: var(--color-primary);
}

@media screen and (max-width: 890px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
        margin-right: -50px;
    }

    .menuItems{
        display: none;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        background: var(--color-transparent);
        backdrop-filter: blur(10px);
        padding: 24px 33px;
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }
}

@media screen and (max-width: 750px) {
    .menuItems a{
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .menuItems{
        gap: 20px;
        padding: 15px;
    }
    .menuItems a{
        font-size: 18px;
    }
}